# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
venv/
.venv/
*.egg

# Node
node_modules/
dist/
dist-ssr/
.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# SQLite
*.sqlite3

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.local
tmp/
.vercel/
